<phpunit colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	convertErrorsToExceptions="true">
	<testsuites>
		<testsuite name="IPSet Tests">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
</phpunit>
